body {
    background-color: #7a9c73;
}
.images {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.mini_image {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}