<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        {% include 'head.tmpl' %}
    </head>
    <body>
        <h1>Домашнее задание. Урок 3</h1>
        <h2>Картинка в оригинальном размере</h2>
        <img src="data/images/{{nameImage}}" />
    </body>
</html>
