<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        {% include 'head.tmpl' %}
    </head>
    <body>
        <h1>Домашнее задание. Урок 3</h1>
        <h2>Галлерея:</h2>
        {% include 'gallery.tmpl' %}
    </body>
</html>
