.red {
    color: red;
}
.item-card {
    padding: 8px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    width: 400px;
    display: inline-block;
    background-color: rgb(199, 196, 196);
}
.item-card__image {
	box-sizing: border-box;
}
.item-card__title,
.item-card__description,
.item-card__category {
	text-align: center;
}
.item-card__description {
	padding: 15px;
}
.item-card__price {
    text-align: right;
}

table,
th,
td {
    border: 1px solid black;
}
th,
td {
    padding: 5px;
}

input[type="submit"] {
    margin-top: 5px;
}