<form method="post" enctype="multipart/form-data">
	<h2>Загрузить позицию</h2>
	<h3>{{return_msg}}</h3>
	<input type="text" name="item_name" placeholder="Имя позиции" />
	<br/><br/>
	<input type="text" name="item_category" placeholder="Категория" />
	<br/><br/>
	<textarea name="item_description" cols="64" rows="16" placeholder="Описание позиции"></textarea>
	<br/><br/>
	<input type="file" name="item_image" value="Выбрать фото" />
    <br/><br/>
    <input type="text" name="item_price" placeholder="Стоимость" /> ₽
    <br/><br/>
    <input type="submit" value="Сохранить" />
</form>